body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#canvas {
   position: absolute;
}

#dpi {
  position: absolute;
  width: 1in;
  height: 1in;
  top: -100%;
  left: -100%;
}